.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(color(grey, darkest), 0.8);
  z-index: z-index(modal);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity duration() ease;
}

.ModalOpen {
  opacity: 1;
  visibility: visible;
}

.Body {
  width: 100%;
  max-width: 450px;
  background: color(white);
  border-radius: border-radius(extra-extra-wide);
  padding: spacing();
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: translateY(10rem);
  transition: transform duration() ease;

  .ModalOpen & {
    transform: translateY(0);
  }
}

.BodyPromo {
  max-width: 850px;
  text-align: left;
  padding: 0;
  display: flex;
}

.CloseButton {
  position: absolute;
  right: spacing();
  top: spacing();
  opacity: 0.8;
  transition: opacity duration() ease;

  &:hover {
    opacity: 1;
  }
}

.Promo {
  min-width: 350px;
  background: color(purple);
  text-align: right;
  position: relative;
  float: left;
  overflow: hidden;
}

.PromoImage {
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Content {
  padding: spacing(looser);
  overflow: hidden;
}

