.Cards {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($bp-s, $bp-l) {
    flex-direction: column;

    > :nth-child(even) {
      align-self: flex-end;
    }

    > :nth-child(odd) {
      align-self: flex-start;
    }
  }

  @include breakpoint($bp-l) {
    justify-content: space-between;
    margin-top: 160px;

    > :nth-child(even) {
      margin-top: 80px;
    }

    > :nth-child(odd) {
      margin-top: -80px;
    }
  }
}
