.Heading {
  font-family: 'Noe Display';
  font-size: size(heading);
  color: color(purple, dark);
  line-height: rem(58px);
  margin-bottom: 20px;
  margin-top: 25px;
}

.HeadingSecondary {
  font-family: 'Brandon Text';
  font-size: 26px;
  font-weight: 500;
  color: color(blue, darker);
}

.HeadingTertiary {
  font-family: 'Brandon Text';
  font-size: 20px;
  font-weight: 500;
  color: color(purple, dark);
}

.HeadingInverted {
  color: color(white, regular);
}

.HeadingCentered {
  text-align: center;
}
