.Stack {
  overflow: hidden;
  display: flex;
  align-items: center;

  &.StackVertical {
    display: block;
  }
}

.Stack > .Item {
  float: left;
  margin-right: spacing();

  &:last-child {
    margin-right: 0 !important;
  }

  .StackSpacedLoose & {
    margin-right: spacing(loose);
  }
}

.StackVertical > .Item {
  float: none;
  margin-right: 0 !important;
  margin-bottom: spacing(tight);

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.StackVertical.StackSpacedLoose > .Item {
  margin-bottom: spacing(loose);
}
