$colors: (
  base: (

  ),
  blue: (
    darker: #4545C4,
    dark: #3360BF,
    regular: #5F94E0,
    light: #CCEAFB,
    lighter: #E5F4FB
  ),
  brown: (
    dark: #873E25,
    regular: #E28861,
    light: #EDA27C
  ),
  green: (
    dark: #20CEB1,
    regular: #1BE0BF,
    light: #40F4D5
  ),
  grey: (
    regular: #D8DCE5,
    light: #EFF6FA,
    lighter: #F5F7FB,
  ),
  white: (
    base: #ffffff,
  )
);

@function color($option, $shade: base) {
  @return safe-map-get('shade', safe-map-get('color', $colors, $option), $shade);
}
