$size-base: 18px;

@function rem($px) {
  $rem: $px / $size-base;
  @return #{$rem}rem;
}

$sizes: (
  body: (
    base: $size-base,
    big: rem(19px),
  ),
  heading: (
    base: rem(47px),
    sub: rem(34px)
  ),
);

$weights: (
  body: (
    base: 300,
    bold: 500,
  ),
  heading: (
    base: 700,
  ),
);

$families: (
  body: 'Brandon Text',
  heading: 'Noe Display',
);

$line-heights: (
  body: rem(34px),
  heading: 1.3em,
);

@function size($category, $size: base) {
  @return safe-map-get('size', safe-map-get('category', $sizes, $category), $size);
}

@function weight($category, $weight: base) {
  @return safe-map-get('weight', safe-map-get('category', $weights, $category), $weight);
}

@function family($category) {
  @return safe-map-get('family', $families, $category);
}

@function line-height($category) {
  @return safe-map-get('line-height', $line-heights, $category);
}

@mixin main-font {
  font: weight(body) size(body) family(body);
}
