$wave-height-s: 80px;
$wave-height-m: 100px;
$wave-height-l: 120px;



@mixin wave($color, $height, $side) {
  content: '';
  position: absolute;
  display: inline-block;
  background-color: $color;
  height: $height;
  width: 100%;
  z-index: 100;

  @if $side == 'top' {
    top: 0;
    right: 0;
    border-radius: 50%/#{$height} #{$height} 0 0;
    transform: translateY(-50%) translateX(43%);
  }

  @if $side == 'bottom' {
    bottom: 0;
    left: 0;
    border-radius: 50%/#{$height} #{$height} 0 0;
    transform: translateY(50%) translateX(-44%) rotate(180deg);
  }
}

.Section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  overflow: visible;

  &:first-child {
    height: 100vh;
    min-height: 600px;
    padding: 0;
  }

  &.SectionTopWave {
    &:before {
      @include wave(white, $wave-height-s, 'top');

      @include breakpoint($bp-m) {
        @include wave(white, $wave-height-m, 'top');
      }

      @include breakpoint($bp-l) {
        @include wave(white, $wave-height-l, 'top');
      }
    }
  }

  &.SectionBottomWave {
    &:after {
      @include wave(white, $wave-height-s, 'bottom');

      @include breakpoint($bp-m) {
        @include wave(white, $wave-height-m, 'bottom');
      }

      @include breakpoint($bp-l) {
        @include wave(white, $wave-height-l, 'bottom');
      }
    }
  }
}

.SectionSea {
  background-color: color(blue, lightest);

  &.SectionTopWave {
    &:before {
      @include wave(color(blue, lightest), $wave-height-s, 'top');

      @include breakpoint(768px) {
        @include wave(color(blue, lightest), $wave-height-m, 'top');
      }

      @include breakpoint(1200px) {
        @include wave(color(blue, lightest), $wave-height-l, 'top');
      }
    }
  }

  &.SectionBottomWave {
    &:after {
      @include wave(color(blue, lightest), $wave-height-s, 'bottom');

      @include breakpoint(768px) {
        @include wave(color(blue, lightest), $wave-height-m, 'bottom');
      }

      @include breakpoint(1200px) {
        @include wave(color(blue, lightest), $wave-height-l, 'bottom');
      }
    }
  }
}

.SectionPurple {
  color: color(white, regular);
  background-color: color(purple, regular);

  &.SectionTopWave {
    &:before {
      @include wave(color(purple, regular), $wave-height-s, 'top');

      @include breakpoint(768px) {
        @include wave(color(purple, regular), $wave-height-m, 'top');
      }

      @include breakpoint(1200px) {
        @include wave(color(purple, regular), $wave-height-l, 'top');
      }
    }
  }

  &.SectionBottomWave {
    &:after {
      @include wave(color(purple, regular), $wave-height-s, 'bottom');

      @include breakpoint(768px) {
        @include wave(color(purple, regular), $wave-height-m, 'bottom');
      }

      @include breakpoint(1200px) {
        @include wave(color(purple, regular), $wave-height-l, 'bottom');
      }
    }
  }
}
